name: Update features

on:
  workflow_dispatch:
  schedule:
    - cron: "25 22 * * *" # at 22:25 UTC

jobs:
  setup:
    name: Setup

    permissions:
      contents: read

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Load config
        id: config
        run: |
          python3 <<EOF >> $GITHUB_OUTPUT

          import json
          from pathlib import Path

          features = [
            json.loads((feature / "devcontainer-feature.json").read_text())["name"]
            for feature in Path("features/src").iterdir()
            if feature.is_dir() and (feature / "devcontainer-feature.json").is_file()
          ]

          print(f"features={json.dumps(features)}")
          EOF

    outputs:
      features: ${{ steps.config.outputs.features }}

  update:
    name: Update feature
    needs: setup
    if: ${{ needs.setup.outputs.features != '' && toJson(fromJson(needs.setup.outputs.features)) != '[]' }}

    strategy:
      matrix:
        feature: ${{ fromJSON(needs.setup.outputs.features) }}

    uses: ./.github/workflows/update-feature.yaml
    with:
      feature: ${{ matrix.feature }}
    secrets:
      token: ${{ secrets.token }}

  done:
    name: Update features
    needs: update

    runs-on: ubuntu-24.04

    steps:
      - name: No op
        run: exit 0
